@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,body{
    font-family: 'Poppins', sans-serif;
    background:  #222c38;
}
*{margin: 0;padding: 0;box-sizing: border-box;}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.menu{
    width: 40%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background: black;
    padding-left: 20px;
    transition: 0.5s all;
    z-index: 1;

}
.menu li a{
    color: #e7e7e7;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
}
.open{
    padding: 10px;
    margin: 10px;
    background: none;
    font-size: 20px;
    border: none;
    color: gray;
}
.logo img{
    width: 70px;
}
.profile img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid #e7e7e7;
}
.searchInput{
    display: flex;
    justify-content: center;
    
}
.searchInput input{
    padding: 10px;
    width: 300px;
    border-radius: 40px;
    outline: none;
    border: 2px solid #2f2525;
}
.highlights{
    text-decoration: dotted;
    padding: 20px;
}
ul li{
    list-style: none;
    margin: 20px 0;
    color: grey;
}
.card-img{
    display: flex;

}
.card-img img{
    width: 30px;
    margin: 0 20px;
}
.card-title span{
    color: #fff;
}
.card-title a{
    text-decoration: none;
    color: #fff;
}
.card-detail{
    margin: 20px 0;
    font-size: 12px;
    padding: 10px;
    color: #e7e7e7;
}
.card-links{
    padding: 10px;
}
.card-links a{
display: block;
color: #fff;
margin: 20px 0;
}
.icon{
    position: absolute;
    right: 5%;
}
@media(min-width:700px){
    body,html{
        display: none;
    }
}